.Rhistory
.RData
.Rproj.user/
.DS_Store

data/raw/*
!data/raw/.gitkeep

data/processed/*
!data/processed/.gitkeep

data/simulated/*
!data/simulated/.gitkeep

outputs/figures/*
outputs/tables/*
outputs/logs/*